{{#if posts}}
<div class="posts">
    {{#each posts}}
    <article class="card">
        <div class="card-header flex-row justify-space-between">
            <h2>
                <a href="/post/{{id}}">{{title}}</a>
            </h2>
            <div>
                posted by {{user.username}} on {{format_date createdAt}}
            </div>
        </div>
        <div class="card-body">
            {{body}}
        </div>
    </article>
    {{/each}}
</div>
{{else}}
<div class="posts">
    <article class="card">
        <div class="card-header flex-row justify-center">
            <h2>
                Currently there's no posts!
            </h2>
        </div>
        <div class="card-body flex-row justify-center">
            <h3>
                Sign Up/Sign In and be our first blog post! 
            </h3>
        </div>
    </article>
</div>
{{/if}}